@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&display=swap');

body{
    font-family: 'Dancing Script', cursive;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    margin: 0;
    padding: 0;
}

#hero{
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/bg.jpg) no-repeat center/cover;
    text-align: center;
    position: relative;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

h1,h5{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

ul{
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
    display: inline-block;
}

a{
    text-decoration: none;
    color: #fff;
}

.hero-text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.hero-text-box h5{
    font-size: 70px;
}

.hero-text-box h1{
    font-size: 80px;
    margin: 50px 0;
    line-height: 1;
}

.social-icon ul li a{
    font-size: 20px;
    background: rgba(0,0,0,0.3);
    padding: 10px 13px 8px 12px;
    border-radius: 50%;
}

.social-icon ul li:nth-child(2){
    margin: 0 10px;
}

.social-icon ul li a:hover{
    color: rgba(255, 255, 255, 0.7);
    font-size: 30px;
    background: rgba(0,0,0,0.3);
    padding: 10px 13px 8px 12px;
    border-radius: 50%;
    transition: .5s;
}

.ah-headline.clip .ah-words-wrapper::after{
    background: #fff;
}

@media screen and (max-width:767px){
    .ah-headline span:first-child{
        width: 100%;
        font-size: 60px;
    }
    .ah-headline span:last-child{
        width: 100%;
        font-size: 60px;
    }
}

@media screen and (max-width:500px){
    .ah-headline span:first-child{
        font-size: 40px;
    }
    .ah-headline span:last-child{
        font-size: 50px;
    }
}

@media screen and (max-width:340px){
    .ah-headline span:first-child{
        font-size: 30px;
    }
    .ah-headline span:last-child{
        font-size: 40px;
    }
}







